<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark navigation"style="width: 280px;">
  <div class="text-center">
    <span class="fs-4">Angular-IMC</span>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto mt-3 d-flex flex-column align-items-center">
    <li class="nav-item px-4 py-3 bg-secondary w-75 rounded d-flex justify-content-center">
      <div href="#" class="width-fit fs-2">
       {{resultUser?.data.name }}
      </div>
    </li>
    <li class="d-flex flex-column justify-content-center mt-3">
      <div class="mb-3">
        Période des saisies
      </div>
      <div class="espacement">
        <a [routerLink]="['/semaine-v-1']" class="nav-link text-info">
          <i class="bi bi-calendar-check text-info p-2"></i>  Semaine
        </a>
        <a [routerLink]="['/mois']" class="nav-link text-info">
          <i class="bi bi-calendar3 text-info p-2"></i>  Mois
        </a>
        <a [routerLink]="['/trimestre']" class="nav-link text-info">
          <i class="bi bi-calendar-plus text-info p-2"></i>  Trimestre
        </a>
      </div>
    </li>
    <li class="mt-4">
     <button class="btn btn-primary" [routerLink]="['/saisie-poids']"> Saisir son poids</button>
    </li>
    <li class="my-3">
      <button class="btn btn-primary" (click)="deconnecter()"> Déconnexion</button>
     </li>
    <li class="mt-3">
      <h5>IMC Actuel</h5>
      <ngx-gauge [thresholds]="thresholdConfig" class="mt-3 text-white" [type]="'semi'"
           [value]="imc"
           [min]="0"
           [max]="60"
           [animate]="true"
           [thick]="15"
           [markers]="markers"
           [size]="220"
           [margin]="20"
           >
    </ngx-gauge>
    </li>
  </ul>

</div>
