.hauteur{
  height: 40rem;
}

:host{
  
 display: block;
 width: 100vw;
 height: 100vh;
}
// Hide cards' checkboxes

.card-checkbox { display: none; }


// Cards

.card {
	$width: 640px;
	$height: $width * 0.67;

	box-sizing: border-box;
	position: fixed;
	top: 85%;
	left: 55%;
	width: $width;
	height: $height;
	margin-left: -$width / 2;
	padding: 1rem;
	transform: rotate(-2deg);
	z-index: 0;
	background-color: #ddd;
	color: #181818;
	box-shadow: 0 0 16px rgba(0,0,0,.25);
	transition: all .75s;
}


// Card deck

%first-card-in-deck {
	transform: rotate(2deg);
	z-index: 2;
	background-color: #fff;
}

%second-card-in-deck {
	z-index: 1;
	transform: rotate(0);
	background-color: #eee;
}

.card-checkbox:first-of-type + .card {
	@extend %first-card-in-deck;
}

.card-checkbox:nth-of-type(2) + .card {
	@extend %second-card-in-deck;
}


// Active card

.card-checkbox:checked + .card {
	margin-top: -240px;
	transform: rotate(0);
	top: 50%;
	background-color: #fff;
}


// Modify deck when certain cards are active so that the deck looks always the same (except if there isn't enough cards)

.card-checkbox:first-of-type:checked ~ .card-checkbox:nth-of-type(2) + .card {
	@extend %first-card-in-deck;
}

.card-checkbox:first-of-type:checked ~ .card-checkbox:nth-of-type(3) + .card {
	@extend %second-card-in-deck;
}

.card-checkbox:nth-of-type(2):checked ~ .card-checkbox:nth-of-type(3) + .card {
	@extend %second-card-in-deck;
}


// Navigation

#nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	list-style: none;
	font-size: .95rem;
	color: white;

	li:not(.lowercase) { text-transform: uppercase; }

	label {
		display: block;
		padding: .75rem 1.25rem;
		cursor: pointer;
		transition: color .25s;

		&:hover {
			color: #f8f8f8;
		}
	}
}

.height-custom
{
  height: 5px;
}
.margin-custom
{
  margin-right: 5px;
}
.shadow
{
  box-shadow: 10px 8px 6px 0px rgb(219, 219, 223) !important ;
}
.small-size{
  font-size: 10px;
}

.col-custom{
  width:17%;
}

#imc{
  font-size: 75px;
}
