<div  *ngIf="resultPoids != undefined" class="w-100">
  <div class="text-center my-4">
    <a class="text-white" [routerLink]="['/semaine-v-1']">Vue d'ensemble</a>
  </div>
  <div class="d-flex list-style-none justify-content-around w-100 text-white">
    <div class="lowercase"><label for="put-cards-down">Ranger</label></div>
    <input type="radio" name="cards" class="card-checkbox" id="put-cards-down">
    <div *ngFor="let poids of resultPoids.poids; let i = index"><label for="toggle-card-{{i+1}}">Mesure {{i+1}}</label></div>
  </div>
  <div class="hauteur d-flex flex-column justify-content-center align-items-center text-white">
    <h1 id="imc">IMC</h1>
    <div> De la semaine</div>
  </div>
<div *ngFor="let poids of resultPoids.poids;let i=index">
  <input type="radio" name="cards" class="card-checkbox" id="toggle-card-{{i+1}}">

    <div class="card">
      <div class="">
        <div class="fw-bold">Indice</div>
        <div>
          <h1 class="text-center fw-bolder size-ind">{{ poids.poids /((taille/100)*(taille/100)) | number:'2.0-0' }}</h1>
        </div>
        <h5 class="mt-4 text-center fw-bold mb-4">{{poids.createdAt|date :"EE dd MMM YYYY"}}</h5>
        <div class="row justify-content-center mb-4">
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[0]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[1]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[2]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[3]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[4]"> </div>
        </div>
        <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[6]" class="col-10 m-auto text-white p-2 d-flex justify-content-around shadow">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-person-fill"></i>
              <div>{{poids.poids}}</div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-check2-square"></i>
            <div class="small-size"><small>{{(poids.poids /((taille/100)*(taille/100))|imc)[5]}}</small></div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-bar-chart-line-fill"></i>
            <div *ngIf='(poids.poids /((taille/100)*(taille/100))|imc)[5]!=="normal";else ok'>
              {{poids.poids-(taille/100)*(taille/100)*22.5 |number:'2.0-0'}}
            </div>
            <ng-template #ok>0</ng-template>
          </div>
        </div>
        <div class=" col-10 text-center text-muted m-auto mt-3">
         {{(poids.poids /((taille/100)*(taille/100))|imc)[7]}}
        </div>
      </div>
    </div>
</div>
</div>
