<div class="row justify-content-center align-items-center h-100">
<div *ngIf="resultPoids !=undefined" class="col-6">
  <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>
<div class="col-5 " >
  <table class="table table-light" >
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">poids</th>
        <th scope="col">Indice</th>
        <th scope="col">Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poids of resultPoids.poids">
        <td [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[6]">{{poids.createdAt |date :"EE dd MMM YYYY"}}</td>
        <td [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[6]">{{poids.poids}} Kg</td>
        <td [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[6]">{{ poids.poids /((taille/100)*(taille/100)) | number:'2.0-0' }}</td>
        <td [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[6]">{{(poids.poids /((taille/100)*(taille/100))|imc)[5]}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
