<div  class="container  p-5 row justify-content-center align-items-center h-100">
<div class="container col-6  " >
  <table class="table  table-info "  >
    <thead>
      <tr>
        <th scope="col-2">Date</th>
        <th scope="col">Poids</th>
        <th scope="col">Indice</th>
        <th scope="col-2">Etat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let donner of poids.poids, let i = index">
        <td [ngClass]="(donner.poids /((taille/100)*(taille/100))|imc)[6]">{{donner.createdAt|date :'d MMMM, y'}}</td>
        <td [ngClass]="(donner.poids /((taille/100)*(taille/100))|imc)[6]">{{donner.poids}}</td>
        <td [ngClass]="(donner.poids /((taille/100)*(taille/100))|imc)[6]">{{donner.poids/((taille/100)*(taille/100))|number:'2.0-0'}}</td>
        <td [ngClass]="(donner.poids /((taille/100)*(taille/100))|imc)[6]">{{(donner.poids /((taille/100)*(taille/100))|imc)[5]}}</td>
        <td [ngClass]="(donner.poids /((taille/100)*(taille/100))|imc)[6]"><button class="btn btn-outline-dark" (click)="deletePoids(donner.id)">Supprimer</button></td>
      </tr>


    </tbody>
  </table>
</div>


<div class="container col-6 ">

 <app-graphique ></app-graphique>

</div>

</div>

