<div class="container h-50 col-lg-3 col-md-6 col-sm-10 d-flex flex-column justify-content-center">
  <h1 class="text-white">Ajout du poids</h1>
  <div *ngIf="alerte.length>0 && (alerte.includes('déjà') || alerte.includes('date'))" class="alert alert-danger">{{alerte}}</div>
  <div *ngIf="alerte.length>0 && alerte.includes('bien')" class="alert alert-success">{{alerte}}</div>
  <div
    class="btn-group mt-3"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"

    />
    <label class="btn btn-outline-info" for="btnradio1" (click)="change()">Petit</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-info text-white" for="btnradio2" (click)="change1()">normal</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio3"
      autocomplete="off"
    />
    <label class="btn btn-outline-info" for="btnradio3" (click)="change2()">Grand</label>
  </div>


  <form action="" class="flex flex-column text-white" [ngStyle]="{'font-size': valeur}" [formGroup]="poidGroup" >
    <div class="mt-3">
      <label for="poids" class="col-lg-3 col-md-6 col-sm-10">Poids : </label>
      <input type="number" formControlName="poids" class="col-3" />
    </div>
    <div *ngIf="poids?.invalid && poids?.touched" class="text-danger">
      <div *ngIf="poids?.errors?.['required']">
        <small>Le champ est requis</small>
      </div>
      <div *ngIf="poids?.errors?.['min'] || poids?.errors?.['max']">
        <small>Le poids doit être compris entre 40 et 200 Kg</small>
      </div>
    </div>
    <div class="mt-3">
      <label for="date" class="col-lg-3 col-md-6 col-sm-10">Date :</label>
      <input type="date" formControlName="date" class="col-5" [max]='nowString'/>
      <div *ngIf="date?.invalid && date?.touched" class="text-danger">
        <div *ngIf="poids?.errors?.['required']">
          <small>Le champ est requis</small>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <button class="mt-3 btn btn-button btn-success" (click)="valider()">Valider</button>
    </div>
  </form>
</div>

