<div class="container h-50 d-flex flex-column justify-content-center align-items-center mt-3">
  <form action="" class="d-flex flex-column h-25 w-50 text-white " [formGroup]="form" (ngSubmit)="connecter()">
    <h1 class="text-white">Identification</h1>
    <div [ngClass]="alerte.length>0? 'alert alert-danger':''">{{alerte}}</div>
    <div>
      <label for="name" class="col-4"
        ><a class="text-danger text-decoration-none">*</a> Pseudo :
      </label>
      <input type="name" class="col-6" formControlName="name" />
      <div *ngIf="name.invalid && name.touched" class="text-danger">
        <div *ngIf="name.errors?.['required']">
          <small>Le champ est requis</small>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label for="password" class="col-4">
        <a class="text-danger text-decoration-none">*</a> Mot de passe :
      </label>
      <input type="password" class="col-6" formControlName="password" />
      <div *ngIf="password.invalid && password.touched" class="text-danger">
        <div *ngIf="password.errors?.['required']">
          <small>Le champ est requis</small>
          </div>
          <div *ngIf="password.errors?.['pattern']">
          <small>
            <ul>
              <li>Longueur d'au moins 8 caractères</li>
              <li>1 lettre majuscule - 1 lettre minuscule</li>
              <li>1 caractère spéciale - 1 chiffre</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <p class="text-danger small mt-3">* Champs obligatoire</p>
    <div class="row align-items-center">
      <div class="col-auto">
        <button class="btn btn-primary"[disabled]="!form.valid">Validation</button>
      </div>
      <div class="col-auto">
        Si vous ne disposez pas de compte?
        <a href="" class="text-decoration-none text-info" routerLink="/inscription"
          >Inscription</a
        >
      </div>
    </div>
  </form>

</div>

