:host{
  min-height: 100vh;
  min-width: 80vw;
}
.size-ind
{
  font-size: 60px;
}
.max-width{
  width: 100vw;
}
.height-custom
{
  height: 5px;
}
.margin-custom
{
  margin-right: 5px;
}
.shadow
{
  box-shadow: 10px 8px 6px 0px rgb(219, 219, 223) !important ;
}
.small-size{
  font-size: 10px;
}

.col-custom{
  width: 17%;
}

.card{
    transition: transform .2s ease-in-out;
}
.card:hover{

  transform: scale(1.2);
  -moz-transform: scale(1.2);
  z-index: 5;
}

