<div *ngIf="resultPoids !=undefined">
  <div class="text-center">
    <h1 class="text-white">IMC de la semaine</h1>
    <a class="text-white" [routerLink]="['/semaine-v-2']">affichage particulier</a>
  </div>
  <div class="row flex-wrap justify-content-around align-items-around w-100">
    <div *ngFor="let poids of resultPoids.poids" class="card mt-5 col-2">
      <div class="card-body">
        <div class="fw-bold">Indice</div>
        <div>
          <h1 class="text-center fw-bolder size-ind">{{ poids.poids /((taille/100)*(taille/100)) | number:'2.0-0' }}</h1>
        </div>
        <h5 class="card-title mt-4 text-center fw-bold mb-4">{{poids.createdAt|date :"EE dd MMM YYYY"}}</h5>
        <div class="row justify-content-center mb-4">
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[0]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[1]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[2]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[3]"> </div>
          <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[4]"> </div>
        </div>
        <div [ngClass]="(poids.poids /((taille/100)*(taille/100))|imc)[6]" class="col-10 m-auto text-white p-2 d-flex justify-content-around shadow">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-person-fill"></i>
              <div>{{poids.poids}}</div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-check2-square"></i>
            <div class="small-size"><small>{{(poids.poids /((taille/100)*(taille/100))|imc)[5]}}</small></div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-bar-chart-line-fill"></i>
            <div *ngIf='(poids.poids /((taille/100)*(taille/100))|imc)[5]!=="normal";else ok'>
              {{poids.poids-(taille/100)*(taille/100)*22.5 |number:'2.0-0'}}
            </div>
            <ng-template #ok>0</ng-template>
          </div>
        </div>
        <div class=" col-10 text-center text-muted m-auto mt-3">
          {{(poids.poids /((taille/100)*(taille/100))|imc)[7]}}
        </div>
      </div>
    </div>
  </div>
</div>


