<div class="container h-50 mt-3 d-flex flex-column justify-content-center align-items-center">
  <form action="" (ngSubmit)="valider()" class="d-flex flex-column col-6 text-white" [formGroup]="form">
    <h1 class="text-white">Inscription</h1>
    <div [ngClass]="alerte.length>0? 'alert alert-danger':''">{{alerte}}</div>
    <div>
      <label for="name" class="col-4"
        ><a class="text-danger text-decoration-none">*</a> Pseudo :
      </label>
      <input type="name" formControlName="name" class="col-6" />
      <div *ngIf="name?.invalid && name?.touched" class="text-danger">
        <div *ngIf="name?.errors?.['required']">
          <small>Le champ est requis</small>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label for="password" class="col-4">
        <a class="text-danger text-decoration-none">*</a> Mot de passe :
      </label>
      <input type="password" formControlName="password" class="col-6" />
      <div *ngIf="password?.invalid && password?.touched" class="text-danger">
        <div *ngIf="password?.errors?.['required']">
          <small>Le champ est requis</small>
          </div>
          <div *ngIf="password.errors?.['pattern']">
          <small>
            <ul>
              <li>Longueur d'au moins 8 caractères</li>
              <li>1 lettre majuscule - 1 lettre minuscule</li>
              <li>1 caractère spéciale - 1 chiffre</li>
            </ul>
          </small>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <label for="age" class="col-4">
        <a class="text-danger text-decoration-none">*</a> Age :
      </label>
      <input type="number" formControlName="age" class="col-1" min="16" max="124"/>
      <div *ngIf="age?.invalid && age?.touched" class="text-danger">
        <div *ngIf="age?.errors?.['required']">
          <small>Le champ est requis</small>
        </div>
        <div *ngIf="age?.errors?.['min'] || age?.errors?.['max']">
          <small>L'âge doit être compris entre 16 et 124 ans</small>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label for="taille" class="col-4">
        <a class="text-danger text-decoration-none">*</a> Taille :
      </label>
      <input type="number" formControlName="taille" class="col-1" min="100" max="250"/>
      <div *ngIf="taille?.invalid && taille?.touched" class="text-danger">
        <div *ngIf="taille?.errors?.['required']">
          <small>Le champ est requis</small>
        </div>
        <div *ngIf="taille?.errors?.['max'] || taille?.errors?.['min']">
          <small>La taille  doit être comprise entre 100 et 250 cm</small>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label for="poids" class="col-4">
        <a class="text-danger text-decoration-none">*</a> Poids :
      </label>
      <input type="number" formControlName="poids" class="col-1" min="40" max="200"/>
      <div *ngIf="poids?.invalid && poids?.touched" class="text-danger">
        <div *ngIf="poids?.errors?.['required']">
          <small>Le champ est requis</small>
        </div>
        <div *ngIf="poids?.errors?.['min'] || poids?.errors?.['max']">
          <small>Le poids doit être compris entre 40 et 200 Kg</small>
        </div>
      </div>
    </div>

    <p class="text-danger small mt-3">* Champs obligatoire</p>
    <div class="row align-items-center">
      <div class="col-auto">
        <button class="btn btn-primary"[disabled]="!form.valid">Validation</button>
      </div>
    </div>
    <div class="col-auto">
      Si vous disposez d'un compte?
      <a href="" class="text-decoration-none text-info" routerLink="/connexion">Connexion</a>
    </div>
  </form>
</div>

